@using Quiron.LojaVirtual.Web.HtmlHelpers
@model Quiron.LojaVirtual.Web.Models.ProductsViewModel


@foreach (var p in Model.Products)
{
    @Html.Partial("ProductDetails",p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Pagination, x => Url.Action("ListProducts", new { page = x }))
</div> 